body {
    margin: 0;
}
.containerindex {
    z-index: 1;
    position: relative;
    width: 1200px;
    height: 1200px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/table.jpg");
    background-repeat: no-repeat;
}
.exersise {
    background-image: url("../img/background.jpg");
}
.containerexersise {
    width: 1125px;
    height: 1400px;
    padding: 0;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.note {
    background-color: #7D6149;
    width: 930px;
    height: 1160px;
    padding-top: 40px;
    padding-left: 20px;
    border-radius: 7%;
    margin-left: auto;
    margin-right: auto;
}
.paper {
    z-index: 1;
    position: relative;
    padding-top: 1px;
    width: 887px;
    height: 1120px;
    border-radius: 7% 0 0 7%;
    background:
    linear-gradient(
            rgba(255,255,255, 0) 1.9em, rgba(0, 0, 0, .15) 2em)
    0 0;
    background-size: 2em 2em;
    background-color: #ece3d2;
    font: 32px/2 'Trebuchet MS', Verdana, sans-serif;
    font-style: italic;
}
.paper::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 80px;
    margin-left: 20px;
    width: 40px;
    height: 1175px;
    border-radius: 0 0 20px 20px;
    background-color: #cf5143;
}
ul.spring {

    padding: 0;
    margin: 0;
    float: left;
}
.spring li {

    list-style: none;
}
.spring li::before {
    position: relative;
    z-index: 2;
    content: "";
    display: block;
    margin-left: -65px;
    width: 140px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(89deg, rgba(125,97,73,1) 25%, rgba(122,95,71,1) 26%, rgba(95,78,60,1) 37%);
    margin-bottom: 43px;
    margin-top: 40px;
}
.tablet {
    position: absolute;
    top: 295px;
    right: 150px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: red;
    animation: move 2s linear 2 alternate, move2 2s linear 4 alternate;
}
.contacts {
    display: block;
    font-size: 32px;
    font-family: 'Marck Script', cursive;
    text-decoration: none;
    position: absolute;
    top: 290px;
    left: 145px;
    transform: skewY(-17deg);
}

.myexamples {
    display: block;
    font-size: 32px;
    font-family: 'Marck Script', cursive;
    text-decoration: none;
    position: absolute;
    top: 180px;
    left: 500px;
}
.doska {
    z-index: 3;
    position: absolute;
    width: 322px;
    height: 80px;
    background-image: url("../img/doska.jpg");
    background-repeat: no-repeat;
    top: 630px;
    right: 0px;
}

.box {
    z-index: 2;
    position: absolute;
    width: 231px;
    height: 90px;
    background-image: url("../img/box.jpg");
    background-repeat: no-repeat;
    top: 645px;
    right: 50px;
    animation: move5 2s linear 1 forwards;}
@keyframes move {
     from {top: 295px;}
     to {top: 390px;}
 }
@keyframes move2 {
    from {right: 150px;}
    to {right: 100px;}
}

@keyframes move4 {
    from {padding: 20px;}
    to {padding: 30px;}
}
@keyframes move5 {
    from {top: 645px;}
    to {top: 710px;}
}
.containercontact {
    margin: 0;
    padding: 50px;
    background-image: url("../img/paper.jpg");
}
.whitemonitor {
    margin-left: auto;
    margin-right: auto;
    width: 1900px;
    border-top: 80px solid white;
    border-bottom: 80px solid white;
    border-radius: 5%;
    box-shadow: -9px 0 20px -10px #333,
    9px 0 20px    -10px #333;
}

.graymonitor {
    height: 1000px;
    background: #c2c2c2;
    border: 60px solid #4a5760;

}
.circle-browser span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #F67A00;
}
.circle-browser span.yellow {
    background-color: #EBC71F;
}
.circle-browser span.green {
    background-color: #31BB37;
}
.circle {
    display: inline-block;
    background: #CACACA;
    margin: 0;
    padding: 10px;
    width: 150px;
    border-radius: 10px 10px 0 0;

}
.index-page-galery li {
    list-style: none;
    display: inline-block;
}
.index-page-galery {
    width: 100%;
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin:0;
}
.tab-content .center img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: -9px 0 20px -10px #333,
    9px 0 20px    -10px #333;
}